header{
    background-color: black;
    height:40px;
    color: white;
    position: fixed;
    top:0px;
    left: 0px;
    right:0px;
    width: 100%;
    
}
#footer{
    background-color: black;
    height: 100px;
    color: white;
    bottom: 0px;
    width:100%;
    position: relative;
    bottom: 0px;
    left: 0px;
    right:0px;
  
}

nav{
    padding-top: 10px;
    text-align: right;
    padding-right: 20px;
  
    
}
.center{
    text-align: center;
}

body{
    margin-top: 47px;

   
    background-color: aliceblue;
    width:100%;
    /* margin-bottom: 0px; */
   
}

#heading1{
    padding-top: 20px;
}

.first-section{
    background-color: bisque;
    
}

figure{
    
    display: block;
}
figcaption{
    font-weight: bolder;
    padding: 20px;
}
.coming-soon{
    text-align: center;
    width: 600px;
    border: 6px black solid;
}

.form{

    padding:10px 0px 50px;
    
    color:black;
    /* display: block; */
    border: 6px solid rgb(122, 122, 136);
    border-radius: 50px;
    margin-bottom: 80px;
    margin-top: 80px;
    margin-right: 30%;
    margin-left: 30%;
    line-height: 30px;
    position: relative;
    /* left: 610px; */
    /* left:31.5%; */
    
 
}
.btn{
    background-color: rgb(78, 94, 89);
    color:white;
   padding: 0.5% 5%;
   margin-top: 10px;
   position:relative;
   left:30px;
   
   
    
    
}


a{
    padding: 10px;
    color:white;
    text-decoration: none;

}