* {
    margin: 0px;
  }
  body {
    background-color: rgb(30, 36, 39);
  }
  
  
  header {
    background-color: black;
    height: 5%;
    color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    a {
      color: white;
      text-decoration: none;
      padding-right: 30px;
    }
  }
  
  #footer {
    background-color: rgb(191, 75, 75);
    height: 9%;
    color: white;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }
  
  .html-nav {
    padding-top: 10px;
    height: 4%;
    text-align: right;
    padding-right: 20px;
    background-color: black;
  }
  
  .menu {
    float: left;
    margin-left: 2px;
    padding-top: 7px;
  }
  
  .side-bar {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
      overflow-y: scroll;
    scrollbar-color:red;
    height: 82vh;
    width: 300px;
    margin-top: 49px;
    align-items: center;
    justify-content: space-around;
    position: relative;
    left: 10px;
    border-radius: 0px 50px 50px 0px;
    /* justify-content:flex-end ; */
    background-color: rgb(26, 33, 27);
    color: white;
  
    .btn-html {
      display: flex;
      margin-bottom: 15px;
      justify-content: space-around;
      flex-direction: column;
      width: 150px;
      align-items: center;
      text-align: start;
      font-size: large;
      background-color: yellow;
      border-radius: 20px 5px;
      box-shadow: 6px 6px 4px;
      border:2px solid rgb(125, 102, 19);
      font-family: monospace;
      font: bold;
    }
  }
  
  .main{
    display: flex;
    /* flex-direction: row; */
    height: 100%;
    width: 100%;
  
    
  }
 


  .modal{
    /* display: flex; */
   
    justify-content: center;
    background-color: yellow;
    margin-top: 100px;
    margin-left: 100px;
    height: 60vh;
    width: 80%;
    border: 6px solid rgb(232, 44, 44);
    border-radius: 80px 0px 80px;
   
  }
  
  .hidden{
    display: none;
  }

  .modal-0 {
   
    display: flex;
    background-color:green;
    justify-content: center;
    margin:10px;
    padding:30px;
    border-radius: 80px 0px 80px;
    /* height: 0vh; */
    /* width: 80%; */
   

   }
  